#button-content {
    display: none;
}

#coloured-square {
    height: 200px;
    width: 200px;
    background-color:chartreuse;
}

#big-green {
    color:chartreuse;
    font-size:larger;
    background-color: black;
}